
.vs/ProjectEvaluation/customerscoffeeapp.strings.v8.bin

.vs/CustomersCoffeeApp/v17/.futdcache.v2

.vs/CustomersCoffeeApp/v17/.suo

.vs/CustomersCoffeeApp/v17/DocumentLayout.json

.vs/CustomersCoffeeApp/DesignTimeBuild/.dtbcache.v2

*.vsidx
